@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

@import url('https://fonts.googleapis.com/css?family=Arimo');

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');


.section_header {
    height: 40vh;
    margin-top: -80px;
    margin-bottom: -100px;
}

.section {
    margin-left: auto;
    margin-right: auto;
}


.container {
    width: 80rem;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.container2 {
    width: 80rem;
    margin-bottom: 15px;
}

.container3 {
    width: 300px;
    margin: auto;
    margin-left: 540px;
    margin-bottom: 10px;
}

.container8 {
    width: 500px;
    margin-left: 70px;
}

.containerinfo {
    width: 600px;
    float: left;
}

.containerselect2 {
    width: 600px;
    float: right;
}

h1 {
    font-size: 7rem;
    font-family: 'Francois One', sans-serif;
    color: #025951;
    margin-bottom: -100px;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family: 'Francois One', sans-serif;
    color: #025951;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

h3 {
    font-size: 6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #025951;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #025951;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

h5 {
    font-size: 2.7rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #025951;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}


body {
    background-color: #EFEDDD;
    text-align: center;
}

a {
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #025951;
    text-decoration: none;
    margin-right: 60px;
    text-align: center;
}


a:hover {
    color: #159684;
    text-align: center;
}


p {
    font-size: 1.2rem;
    font-family: 'Arimo', sans-serif;
    color: #382716;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

b {
    font-size: 1.2rem;
    font-family: 'Arimo', sans-serif;
    color: white;
    text-align: left;
}

.divider-home {
    background: url(itemsdivider.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;

}

.divider-menu {
    background: url(itemsdivider.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;

}

.divider-location {
    background: url(menudivider.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
}


form {
    text-align: center;
}

table, td {
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Arimo', sans-serif;
    color: #382716;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 150px;

}

th {
    font-family: 'Francois One', sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    color: #025951;
    font-size: 2rem;
    text-align: center;
}

td {
    text-align: center;
}

main {
    text-align: center;
}
input {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 10px;
    color: white;
    background-color: #159684;
}

select {
    font-size: 1.2rem;
    text-align: center;
}

form {
    text-align: center;
}

.m600 {
    margin-left: 580px;
}

text {
    text-align: center;
}